@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>How to install my Tsurikawa</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div>
        <h1>How to install my tsurikawa?</h1>
        <p>
            The only tool you need is a Philips type screw driver.
            Loosen the 2 screws and remove the back plate.
            Open up the strap and slide it around the part you want to attach it.
            Stick the strap back in its original position, press firmly the strap layers together to make sure the screws sticks out and have enough thread to be screwed into the back plate.
            Position the back plate and screw the bolts straight into the back plate to avoid any damage to the thread. Please be very careful on this point!
            Please tighten the bolts firmly, especially if the tsurikawa is dragged on the ground, as the shocks and vibrations can cause them to loosen.
        </p>
    </div>
    <br />
</body>
</html>


